.social,.branding .social .widget_social-networks-widget {
	padding: 0;
	widget-title {
	   diplay: none;
	}
	ul {
		padding: 0;
		li {
			padding: 0 2px; 
			display: inline-block;
			a {
				padding: 0;
				width: 34px;
				display: block;
				height: 34px;
				line-height: 34px;
				text-align: center;
				position: relative; 
				background-color: $black;
				color: $white;
				&:hover {
					color: $white;
					background-color: $primary;
					&:after {
						border-top-color: $primary;
					}
				}
				&:after {
					position: absolute;
					content: "";
					left: 0;
					bottom: -10px;
					@include transition(all, 0.5s, ease);
					z-index: -1;
					width: 0;
				    border-top: 10px solid $black;
				    border-left: 17px solid transparent;
				    border-right: 17px solid transparent;
				}
			}
		}
	}
}


.site-footer .widget_social-networks-widget {
	ul {
		li {
			border: 0;
			a {
				background-color: $primary;
				&:hover {
					background-color: $secondary;
					color: $white;
				}
			}			
		}
	}
}